.account-view {
  .profil-img-container {
    border: var(--secondary-color) 3px solid;
    width: 150px;
    height: 150px;

    .profil-img-account {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .account-box-min-height {
    min-height: 90px;
  }

}
