.pagination {

  ul {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    li {
      list-style-type: none;
      color: var(--primary-color);
      cursor: pointer;
      font-size: 2rem;
      margin-right: 10px;
      padding: 0 5px;
      transition: 0.3s;
      border-radius: 10px;
    }
    .active {
      color: var(--third-color);
      background: var(--secondary-color);
    }
  }
}