html,
body,
*,
::before,
::after {
  padding: 0;
  margin: 0;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--third-color);
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

/*colors*/

:root {
  --primary-color: #1f1f1f;
  --secondary-color: #47ab6f;
  --third-color: #ffffff;
  --fourth-color: #4d7ea8;
  --fifth-color: #7d8ca3;
  --sixth-color: rgb(147, 147, 147);
  --seventh-color: #c4c4c4;
}

.sixth-color {
  color: rgb(147, 147, 147);
}

.sixth-border-color {
  border-color: var(--sixth-color) !important;
}

.seventh-color-background {
  background: var(--seventh-color);
}

.third-color {
  color: var(--third-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.sixth-color {
  color: var(--sixth-color);
}

/*fonts*/

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/fonts/Poppins-Regular400.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/fonts/Poppins-Medium500.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../public/fonts/Poppins-SemiBold600.ttf");
}

.poppins-regular {
  font-family: "Poppins-Regular";
}
.poppins-medium {
  font-family: "Poppins-Medium";
}
.poppins-semibold {
  font-family: "Poppins-SemiBold";
}

/*propriétés generales*/

.cursor-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}

.mh-500 {
  max-height: 500px;
}

.h-200 {
  height: 200px;
}

/*form button*/

.form-file-btn {
  background: var(--secondary-color);
  color: var(--third-color);
  padding: 6px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 3%;
  font-size: 1.2rem;
  transition: 0.3s;
}

.form-file-btn:hover {
  background: #47ab6fbc;
  color: var(--third-color);
}
